<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!-- add to pop menu -->
    <extension point="org.eclipse.ui.popupMenus">
        <!-- add to editor context menu -->
        <objectContribution
            id="Plugin.EditorContribution"
            objectClass="org.eclipse.ui.IEditorInput"
            nameFilter="*.*">
            <menu
                label="Jims Logacy"
                path="additions"
                id="Plugin.EditorMenu">
                <separator
                    name="group">
                </separator>
            </menu>
            <action
                label="Error"
                class="logacy.actions.Error"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Error">
            </action>
            <action
                label="Warn"
                class="logacy.actions.Warning"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Warn">
            </action>
            <action
                label="Info"
                class="logacy.actions.Inform"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Info">
            </action>
            <action
                label="Debug"
                class="logacy.actions.Debug"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Debug">
            </action>
            <action
                label="Verbose"
                class="logacy.actions.Verbose"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Verbose">
            </action>
        </objectContribution>        
    </extension>
    
    <extension point="org.eclipse.ui.commands">
	    <command
	        defaultHandler="logacy.actions.Error"
	        id="Plugin.Error"
	        name="Error">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Warning"
	        id="Plugin.Warn"
	        name="Warn">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Inform"
	        id="Plugin.Info"
	        name="Info">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Debug"
	        id="Plugin.Debug"
	        name="Debug">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Verbose"
	        id="Plugin.Verbose"
	        name="Verbose">
	    </command>
	</extension>
	
    <extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+Alt+1"
			commandId="Plugin.Error"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+Alt+2"
			commandId="Plugin.Warn"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+Alt+3"
			commandId="Plugin.Info"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+Alt+4"
			commandId="Plugin.Debug"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+Alt+5"
			commandId="Plugin.Verbose"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
	</extension>
</plugin>
