<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!-- add to pop menu -->
    <extension point="org.eclipse.ui.popupMenus">
        <!-- add to editor context menu -->
        <objectContribution
            id="Plugin.EditorContribution"
            objectClass="org.eclipse.ui.IEditorInput"
            nameFilter="*.*">
            <menu
                label="Jims Logacy"
                path="additions"
                icon="icons/log.png"
                id="Plugin.EditorMenu">
                <separator
                    name="group">
                </separator>
            </menu>
            <action
                label="Toggle Logs"
                class="logacy.actions.Toggle"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Toggle">
            </action>
            <action
                label="Error"
                class="logacy.actions.Error"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Error">
            </action>
            <action
                label="Warn"
                class="logacy.actions.Warning"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Warn">
            </action>
            <action
                label="Info"
                class="logacy.actions.Inform"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Info">
            </action>
            <action
                label="Debug"
                class="logacy.actions.Debug"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Debug">
            </action>
            <action
                label="Verbose"
                class="logacy.actions.Verbose"
                menubarPath="Plugin.EditorMenu/group"
                enablesFor="1"
                id="Plugin.Verbose">
            </action>
        </objectContribution>        
    </extension>
    
    <extension point="org.eclipse.ui.commands">
	    <command
	        defaultHandler="logacy.actions.Error"
	        id="Plugin.Error"
	        name="Error">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Warning"
	        id="Plugin.Warn"
	        name="Warn">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Inform"
	        id="Plugin.Info"
	        name="Info">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Debug"
	        id="Plugin.Debug"
	        name="Debug">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Verbose"
	        id="Plugin.Verbose"
	        name="Verbose">
	    </command>
	    <command
	        defaultHandler="logacy.actions.Toggle"
	        id="Plugin.Toggle"
	        name="Toggle Logs">
	    </command>
	    <command
	        defaultHandler="logacy.actions.ViewServer"
	        id="Plugin.ViewServer"
	        name="ViewServer">
	    </command>
	</extension>
	
    <extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+Alt+1"
			commandId="Plugin.Error"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
		<key sequence="Ctrl+Alt+2"
			commandId="Plugin.Warn"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
		<key sequence="Ctrl+Alt+3"
			commandId="Plugin.Info"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
		<key sequence="Ctrl+Alt+4"
			commandId="Plugin.Debug"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
		<key sequence="Ctrl+Alt+5"
			commandId="Plugin.Verbose"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
		<key sequence="Ctrl+Alt+Space"
			commandId="Plugin.Toggle"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
	</extension>
	
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Logacy"
               mnemonic="M"
               id="Plugin.menu">
            <command
                  commandId="Plugin.Toggle"
                  mnemonic="S"
                  id="Plugin.menus.toggle">
            </command>
            <separator name="menu.sep" visible="true"/>
            <command
                  commandId="Plugin.Error"
                  mnemonic="S"
                  id="Plugin.menus.error">
            </command>
            <command
                  commandId="Plugin.Warn"
                  mnemonic="S"
                  id="Plugin.menus.warn">
            </command>
            <command
                  commandId="Plugin.Info"
                  mnemonic="S"
                  id="Plugin.menus.info">
            </command>
            <command
                  commandId="Plugin.Debug"
                  mnemonic="S"
                  id="Plugin.menus.debug">
            </command>
            <command
                  commandId="Plugin.Verbose"
                  mnemonic="S"
                  id="Plugin.menus.verbose">
            </command>
            <command
                  commandId="Plugin.ViewServer"
                  mnemonic="S"
                  id="Plugin.menus.viewserver">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Plugin.toolbar">
            <command
                  commandId="Plugin.Toggle"
                  icon="icons/log.png"
                  tooltip="Toggle Logs"
                  id="Plugin.toolbars.toggle"
                  style="pulldown">
            </command>
            
         </toolbar>
      </menuContribution>
      <menuContribution locationURI="menu:Plugin.toolbars.toggle">
	      <!-- Dropdown Menu Options -->
	      <command commandId="Plugin.Toggle" label="Toggle Logs" style="push"></command>
	      <separator name="toolbar.sep" visible="true"/>
	      <command commandId="Plugin.Error" label="Error" style="push"></command>
	      <command commandId="Plugin.Warn" label="Warn" style="push"></command>
	      <command commandId="Plugin.Info" label="Info" style="push"></command>
	      <command commandId="Plugin.Debug" label="Debug" style="push"></command>
	      <command commandId="Plugin.Verbose" label="Verbose" style="push"></command>
	      <separator name="toolbar.sep2" visible="true"/>
	      <command commandId="Plugin.ViewServer" label="View Server" style="push"></command>
	   </menuContribution>
   </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="logacy.preferences.Preferences"
          id="logacy.preferences.Preferences"
          name="Jims Logacy">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="logacy.preferences.PreferenceInitializer">
    </initializer>
 </extension>
	
</plugin>
